@import url('https://fonts.googleapis.com/css2?family=Combo&family=Courgette&family=Lato&family=Oswald:wght@600&family=Overpass:wght@200&family=Poppins:ital,wght@1,900&family=Rubik&family=Ubuntu+Mono:ital@1&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow-x: hidden;
}

#pre-loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('https://media1.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif') no-repeat center center;
    z-index: 9999;
    opacity: 0.8;
}

#main_section {
    width: 100%;
}



a {
    text-decoration: none;
    color: black;
}

#menu {
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: whitesmoke;
}

#menu ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 2;
}

.top_icons {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    font-size: 32px;
}

div h4 {
    font-size: 12px;
    font-weight: lighter;
}

div h3 {
    font-size: 12px;
    font-weight: bolder;
}

#menu_button {
    display: none
}

#navbar {
    z-index: 3;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 7.5vh;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#navbar ul {
    width: 80%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#navbar ul a {
    text-align: center;
    position: relative;
    font-weight: bold;
    color: whitesmoke;
    transition: 0.3s ease-in-out;
}

#navbar ul a::after {
    content: '';
    text-align: center;
    position: absolute;
    width: 0%;
    height: 5px;
    left: 0px;
    bottom: -7.5px;
    transition: 0.3s ease-in-out;
}

#navbar ul a:hover::after {
    content: '';
    background-color: blue;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0px;
    bottom: -7.5px;
}

.search-bar {
    width: 20%;
    height: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.search-bar input {
    width: 80%;
    height: 100%;
    padding: 20px;
    border-radius: 25px;
}

.search-bar button {
    position: absolute;
    right: 35px;
    height: 80%;
    width: 20%;
    border-radius: 25px;
}

#hero {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: rgb(141, 141, 141);
    background-image: url("https://st3.depositphotos.com/33058382/36037/i/450/depositphotos_360378708-stock-photo-technology-dots-background-big-data.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-blend-mode: multiply;
}

#hero div img {
    position: relative;
    width: 150%;
    aspect-ratio: 1;
    border-radius: 50%;
    top: -40px;
    right: -40px;
    border: 20px solid slateblue;

}

.hero_text_section {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.hero_text_section>* {
    color: whitesmoke;
    text-shadow: 0px 0px 20px black;

}

.hero_text_section h1 {
    font-size: 70px;
}

.hero_text_section div {
    background-color: slateblue;
    width: 100%;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bolder;
}

#form_section {
    width: 80%;
    position: absolute;
    margin: auto;
    top: 110vh;
    left: 5vw;
}

#sec_nav {
    width: 100%;
    height: 10vh;
    background-color: whitesmoke;
    box-shadow: 2px 0px 10px black;
}


#sec_nav ul {
    width: 80%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#sec_nav ul a {
    text-align: center;
    position: relative;
    font-weight: bold;
    color: black;
}

#sec_nav ul a::after {
    content: '';
    text-align: center;
    position: absolute;
    width: 0%;
    height: 5px;
    left: 0px;
    bottom: -200%;
}

#sec_nav ul a:hover::after {
    content: '';
    background-color: blue;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0px;
    bottom: -200%;
}

#overview {
    width: 90vw;
    margin: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-bottom: 2px dotted steelblue;
}

.subsection_text {
    padding: 50px 0px;
    text-align: justify;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.form_subsection h2 {
    text-align: left;
    line-height: 70px;
    font-size: 30px;
    font-weight: bolder;
}

.subsection_text p {
    line-height: 35px;
    font-size: 17.5px;
}

.form_subsection span {
    color: red;
}

.subsection_text ul li {
    line-height: 35px;
    list-style: none;
    position: relative;
    left: 30px;
}

.subsection_text ul li::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid steelblue;
    position: absolute;
    top: 7.5%;
    left: -3.5%;
    border-radius: 50%;
}

#overview img {
    width: 80%;
    float: right;
}

#form_section {
    width: 90%;
    position: relative;
    top: 0vh;
    float: left;
}

.form_subsection {
    width: 100%;
    border-bottom: 2px dotted steelblue;
}

.form_subsection_left {
    width: 65%;
}

form {
    width: 400px;
    height: 500px;
    padding: 20px 0px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 0px 15px black;
    margin-top: 100px;
    position: sticky;
    top: 25vh;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    z-index: 10;
}

form>* {
    width: 80%;
    border-radius: 7px;
}

form h3 {
    font-size: 50px;
    font-family: 'Courgette', cursive;
    color: steelblue;
}

form input {
    padding: 10px 20px;

}

form input:nth-child(6) {
    height: 30%;
}

form div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: steelblue;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

#overview .subsection_text {
    width: 50%;
}

#faq_dialog {
    padding: 0px 25px;
}

#faq_dialog h3 {
    padding: 20px 0px 20px 40px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    border-top: 2px solid steelblue;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: all 0.25s;
}

#faq_dialog h3:active {
    color: steelblue;
}

#faq_dialog h3::after {
    content: '+';
    width: 20px;
    height: 20px;
    font-size: 25px;
    top: 20px;
    right: 98%;
    color: steelblue;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s;
}

#faq_dialog input:checked~label h3::after {
    content: '-';
    width: 20px;
    height: 20px;
    font-size: 25px;
    top: 20px;
    right: 98%;
    color: steelblue;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    transition: all 0.25s;
}

#faq_dialog p {
    height: 0px;
    font-size: 0px;
    transition: all 0.25s;
    border: 0px;
}


#faq_dialog input:checked~div p {
    height: 100%;
    padding-left: 20px;
    font-size: 15px;
    transition: all 0.25s;
}

#faq_dialog input:checked~.para-section {
    margin: 20px 0px 20px 10px;
    border-left: 2px solid steelblue;
}

.para-toggler {
    display: none;
}

.car-1-cards {
    width: 350px;
    border: 2px solid gray;
    background-color: rgba(0, 0, 0, 0.015);
}

.car-1-cards>* {
    padding: 15px;
}

.car-1-cards h3 {
    font-size: 20px;
    text-align: left;
    position: relative;
}

.car-1-cards h3::after {
    content: url("icons/download\ \(1\).png");
    position: absolute;
    left: -45%;
    top: -220px;
    color: red;
    transform: scale(20%);
    z-index: -1;
    opacity: 0.6;
}

.car-1-cards p {
    font-size: 15px;
    text-align: justify;
    color: rgb(67, 67, 67);
}

.car-1-cards .card_image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 2px gray, -2px -2px 2px white;
}

.car-1-cards .card_image img {
    height: 100%;
    position: relative;
    right: 20%;
}

#img_info {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
}

#img_info h4 {
    font-size: 20px;
    font-weight: bolder;
}

.grayscale {
    border: 0px solid black;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /* For Webkit browsers */
    filter: gray;
    /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;
    /* Transition for Webkit browsers */
}

.grayscale:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}

#owl-demo .owl-item {
    margin: 3px;
}

#owl-demo .owl-item img {
    display: block;
    width: 100%;
    height: auto;
}

@media (orientation: portrait) {
    * {
        margin: 0px;
        padding: 0px;
    }

    #pre-loader {
        position: fixed;
        top: 0px;
        width: 100vw;
        height: 100vh;
        background: #fff url('https://media1.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif') no-repeat center;
        z-index: 9999;
        opacity: 0.8;
    }

    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    .material-symbols-outlined {
        font-size: 50px;
    }

    div h4 {
        font-size: 15px;
        font-weight: lighter;
    }

    div h3 {
        font-size: 20px;
        font-weight: bolder;
    }

    .img_icons {
        transform: scale(200%);
    }

    #menu_button {
        display: block;
        padding: 10px;
        position: absolute;
        width: 70px;
        aspect-ratio: 1;
        top: 0px;
        left: 0px;
        color: rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0);
        font-size: 20px;
        font-weight: bolder;
        border: 0px;
        z-index: 3;
    }

    #menu {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 75vw;
        height: 0vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        box-shadow: 0px 0px 250px 10px black;
        z-index: 3;
        transition: all 0.3s ease-in-out;
    }

    #menu ul {
        height: 100%;
        list-style: none;
        padding: 50px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }

    #menu[menu-visible="true"] {
        width: 75vw;
        height: 100vh;
        flex-wrap: wrap;
        transition: all 0.3s ease-in-out;
    }

    #menu[menu-visible="false"] ul>* {
        position: relative;
        left: -5000px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    #navbar {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 75%;
        height: 0vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        box-shadow: 0px 0px 250px 10px black;
        transition: all 0.3s ease-in-out;
    }

    #navbar[navbar-visible="true"] {
        height: 100vh;
        transition: all 0.3s ease-in-out;
    }

    #navbar[navbar-visible="false"]>* {
        top: -5000vh;
        transition: all 0.3s ease-in-out;
    }

    #navbar ul {
        position: relative;
        width: 100%;
        height: 70%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 25px;
    }

    .search-bar {
        order: -1;
        width: 80%;
        height: 5%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
    }

    .search-bar input {
        width: 100%;
        height: 80%;
        padding: 20px;
        border-radius: 25px;
    }

    .search-bar button {
        position: absolute;
        right: 5px;
        height: 80%;
        width: 20%;
        border-radius: 25px;
    }

    #hamburger {
        width: 50px;
        height: 50px;
        padding: 10px;
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.25s;
        z-index: 9;
    }

    #hamburger::before,
    #hamburger::after {
        content: '';
        width: 50%;
        height: 2px;
        position: absolute;
        background-color: steelblue;
        transform: translateY(-8px);
        z-index: 9;
        transition: 0.25s;
    }

    #hamburger::after {
        transform: translateY(8px);
        box-shadow: 0px -8px 0px 0.2px steelblue;
    }

    #hero {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100vh;
        background-color: rgb(141, 141, 141);
        background-image: url("https://st3.depositphotos.com/33058382/36037/i/450/depositphotos_360378708-stock-photo-technology-dots-background-big-data.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        background-blend-mode: multiply;
    }

    #hero div img {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        top: -40px;
        right: -40px;
        z-index: 0;
        border: 20px solid slateblue;

    }


    .hero_text_section {
        width: 80%;
        gap: 50px;
        justify-content: flex-end;
    }

    .hero_text_section h1 {
        width: 100%;
        font-size: 55px;
        z-index: 2;
    }

    .hero_text_section p {
        margin-bottom: 100px;
        z-index: 2;
    }

    .hero_text_section div {
        background-color: slateblue;
        text-align: center;
        width: 100%;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: bolder;
    }

    #second_section {
        position: relative;
        top: 100vh;
    }

    #sec_nav {
        display: none;
    }

    #overview {
        width: 90%;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .subsection_text {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        margin: 10px 0px 10px 0px;
    }

    .subsection_text h2 {
        font-size: 30px;
        font-weight: bolder;
    }

    .subsection_text p {
        text-align: justify;
        line-height: 30px;
        font-size: 15px;
    }

    .subsection_text ul li {
        line-height: 35px;
        list-style: none;
        position: relative;
        left: 30px;
    }

    .subsection_text ul li::before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: rgba(0, 0, 0, 0);
        border: 3px solid steelblue;
        position: absolute;
        top: 7.5%;
        left: -10%;
        border-radius: 50%;
    }

    #overview_section_image {
        width: 100%;
        position: relative;
        bottom: 2em;
    }

    #overview_section_image img {
        width: 100%;
    }

    #form_section {
        position: relative;
        width: 90%;
        margin: 0 auto;
    }

    .form_subsection {
        position: relative;
        width: 100%;
        border-bottom: 2px dotted black;
    }

    #form_section form {
        display: none;
    }

    .subsection_text ul li::before {
        left: -8%
    }

    #overview .subsection_text {
        width: 100%;
    }

    .form_subsection_left {
        width: 100%;
    }

}